<!DOCTYPE html>
<html>

<head>
    <title>GitHub events</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f7f7f7;
        }
        .container {
            width: 600px;
            margin: 40px auto;
            background: white;
            padding: 20px;
            border-radius: 8px;
        }
        .event {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Repository Activity</h2>
        <div id="events"></div>
    </div>
    <!-- <script src="app.js"></script> -->
     <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>